Flask==3.0.3
Flask-Admin==1.6.1
Flask-Cors==4.0.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.31
alembic==1.13.1

click==8.1.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5

python-dotenv==1.0.1
python-dateutil==2.9.0.post0

psycopg[binary]==3.2.10
cloudinary==1.41.0
gunicorn==21.2.0

# Mantén flask-swagger si tu código lo usa:
flask-swagger==0.2.14